@import './colors';
@import './mixins';

.volume-volumebutton-icon-overamplified {
    color: $red;
}

.volume-volumebutton-icon-high {
    color: $orange;
}

.volume-volumebutton-icon-medium {
    color: $green;
}

.volume-volumebutton-icon-low {
    color: $blue;
}

.volume-volumebutton-icon-muted {
    color: $red;
}

// button where volume icon lives
.volume-volumebutton {
    background-color: $bg;
}

.volume-slider {

    // bar after slider position
    trough {
        background-color: $green;
    }

    // bar before slider position
    highlight {
        background-color: $blue;
    }

    // slider circle itself
    slider {
        background-color: $magenta;
    }
}

.mpris-icon-playing {
    color: $yellow;
}

.mpris-icon-paused {
    color: $green;
}


.bar-music-playstate {
    @include element_decel;
    min-height: 1.77rem;
    min-width: 1.77rem;
    border-radius: 10rem;
    //color: $musicOnLayer2;
    color: $green;
}

.bar-music-playstate-txt {
    transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
    @include icon-material;
}

// Color of the actual circle for progress
.bar-music-circprog {
    @include fluent_decel_long;
    min-width: 0.136rem; // line width
    min-height: 1.636rem;
    padding: 0rem;
    //background-color: $musicLayer2;
    //color: $musicOnLayer2;
    color: $orange;
}

.bar-music-playstate-playing {
    min-height: 1.77rem;
    min-width: 1.77rem;
    border-radius: 10rem;
    //color: $musicOnLayer2;
    color: $yellow;
}
